NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://postgres:password@localhost:5432/qashio_points
# Connection pool size
DB_POOL_MAX=20
DB_POOL_MIN=5

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Demo account created by `npm run seed` (development only)
SEED_DEMO_EMAIL=demo@qashio.com
SEED_DEMO_PASSWORD=Demo@12345
