
.DS_Store
Thumbs.db
desktop.ini


.idea/
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
!.env.example


node_modules/
dist/
.next/
.swc/
coverage/
*.tsbuildinfo


*.log
npm-debug.log*